# Compiled Python files
__pycache__

# Unused folders
Test
font

# Environment files
.env
config.ini
.venv/

# Build files (Pyinstaller/Nuitka)
*build/
*dist/
*.onefile-build
*.exe
*.bat
*.spec

# Backup files (intended to ignore)
resultbackup/